################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SyncRoo/bin
/SyncRoo/obj/Debug/net8.0
/SyncRoo/obj/Release/net8.0
/SyncRoo/obj
/SyncRoo/appsettings.local.json
/SyncRoo/Properties/PublishProfiles
*.user
/EverythingSZ/bin/Debug/netstandard2.0
/EverythingSZ/obj
/EverythingSZ/bin/Release/netstandard2.0
/SyncRoo/Properties/launchSettings.json
/SyncRoo/Properties/launchSettings.json
/SyncRoo.Core/bin
/SyncRoo.Core/obj/Debug/net8.0
/SyncRoo.Core/obj/Release/net8.0
/SyncRoo.Core/obj
/SyncRoo.Core/appsettings.local.json
/SyncRoo.Server/bin
/SyncRoo.Server/obj/Debug/net8.0
/SyncRoo.Server/obj/Release/net8.0
/SyncRoo.Server/obj
/SyncRoo.Server/appsettings.local.json
